body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
header{
    width: 92%;
}
main{
    width: 100%;
}
.booki{
    width: 100%;
    text-align: center;
    margin-left: 50px;
}
.links{
    width: 100%;
    
}
.link__1, .link__2{
    width: 50%;
    text-align: center;
}
.link__1:hover::before, .link__2:hover::before{
    bottom: 20px; 
    width: 100%;   
}
a.link__1.active::before{
    bottom: 20px;
}
.link__1:hover::before{
    right: 10px;
}
.link__2:hover::before{
    left: 0;
}
header h2, header h4{
    line-height: 25px;;
}
header h2{
    margin-top: 0px;
    
}
header h4{
    margin-top: 15px;
    margin-bottom: 30px;   
}
#field{
    min-width: 240px;
    width: 270px;
}

.search__2{
    display: none;
}
.fa-search{
    opacity: 1;
    background-color: #0065fc;
    width: 50px;
    height: 100%;
    color: white;
    border-radius: 16px 16px 16px 16px;
    text-align: center;
    padding-top: 16px;
    margin-left: -40px;    
}
.filter{
    flex-direction: column;
    flex-wrap: wrap;
}
.filter__search{
    width: 100%;   
}
.button{
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 0;
}
.button__one{
    width: 170px;
}
.button__two{
    width: 134px;
}
.button__three{
    width: 186px;
}
.infos{
    font-size: 14px;
}
.infos span{
    display: block;
    margin-left: 43px;
}

.principale{
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    
}
.section__2{
    width: 100%;
    padding-bottom: 20px;
    border-radius: 0;   
}
.populous h2{
    font-size: 5vw;
}
.fa-chart-line{
    font-size: 5vw;   
}
.section__2--img{
    width: 90%;
}
.text__2{
    font-size: 14px;
    line-height: 5vw;
}
main h2.pop{   
    width: 70%;
    font-weight: 600;
}

/*//////SECTION 1////////////
//////////////////////////*/

.section__1{
    width: 100%;
    background-color: transparent;
    margin-top: 40px;
}
h2.hebergement{
    font-size: 20px;   
    width: 80%;
    margin-left: 0;
    text-align: left;
    margin-bottom: 20px;
}
a.section__1--img{
    width: 95%;
    height: 198px;
    box-shadow: -3px 0px 17px 0px rgba(242,242,242,1);
    margin-bottom: 20px;
}
.section__1 img{
    height: 196px;
    width: 100%;
}
.img__2{
    object-position: 0 -8vh;
}
.img__3{
    object-position: 0 -8vh;
}
.img__4{
    object-position: 0 -15vh;
}
.img__5{
    object-position: 0 -7vh;
}
.img__6{
    object-position: 0 -20vh;
}
.text__1{
    width: 100%;   
}
.text__1 p{
    padding-left: 10px;
    padding-top: 5px;  
    line-height: 14px; 
    font-size: 16px;
}
p.stars{
    position: absolute;
    bottom: 3px;
}
.affichez{
    width: 80%;
    text-align: left;
    margin-top: 10px;
}

/*////////////ACTIVITES/////////
/////////////////////////////*/

.activites{
    width: 92%;
    height: 1350px;
}
.section__3{
    width: 100%;
    height: 1200px;
    margin-bottom: 30px;
    justify-content: flex-start;
}
h3.titre1{
    text-align: left;
    font-size: 5vw; 
    margin-left: 10%; 
    width: 80%;
}
.section__3--gauche{
    width: 85%; 
    height: 590px;
    justify-content: flex-start;
    margin: auto;
    margin-bottom: 30px;
}
.section__3--droit{
    width: 85%;
    height: 590px;
    justify-content:flex-start;
    margin: auto;
    
}
.section__3 a{
    display: block;
    height: 185px;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
}
.section__3 img{
    width: 100%;
    height: 100%;
}
.text__3{
    font-size: 15px;
    width: 100%;
    bottom: 0;
}
footer{
    flex-direction: column;
    padding: 8%;
    line-height: 15px;
}
.propos, .nos__heberg, .assistance{
    margin-right: 0;
    
}
.propos{
    margin-bottom: 40px;
    margin-top: 30px;
}
.nos__heberg{
    margin-bottom: 20px;
}