.booki{
    width: 60%;
}
.links{
    width: 40%;
}
.link__1, .link__2{
    width: 100%;
}

.button__one, .buuton__two, .button__three{
    margin-bottom: 10px;
}
span.infos{
    margin-left: 0;
    
}
main{
    justify-content: center;
}
.affichez{
    margin-left: 0;
    text-align: center;
}
.principale{
    flex-direction: column;
    width: 100%;
    align-items: center;
}
h2.hebergement{
    font-size: 2.5vw;
}
.section__1{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.text__1 p{
    padding-left: 5%;
    padding-top: 5%;  
    line-height: 60%; 
    font-size: 1.4vw;
}
.section__2{
    width: 60%;
    padding: 1.5vw;
    margin-top: 20px;
}
.populous h2{
    font-size: 2.5vw;
}
.fa-chart-line{
    font-size: 2.7vw;   
}
.section__2--img{
    height: 50%;
}
.section__2--febrian{
    height: 25%; 
}
.text__2{
    font-size: 1.6vw;
    line-height: 3vw;
}
.activites{
    width: 80%;
    height: 1800px;

}
.section__3{
    min-width: 100%;
    height: 1700px;
    justify-content: center;
}
h3.titre1{
    width: 100%;
    text-align: center;
    font-size: 2vw;
}
.section__3--gauche, .section__3--droit{
    width: 100%;  
    height: 850px;
}
.section__3--gauche2, .section__3--droit2{
    width: 100%;
    height: 100%;
    justify-content: flex-start;
}
.section__3 a{
    width: 70%;
    height: 250px;  
    margin-left: 15%;
}
.port, .pomegues, .frioul, .garde, .calanques{
    margin-bottom: 20px;
}
.text__3{
    font-size: 1.5vw;
}

/* /*FOOTER* */
footer{
    padding: 40px;
}
.propos, .nos__heberg, .assistance{
    margin-bottom: 1%;
    padding: 0;
    margin-right: 100px;
}